<style>
    div {
        border: 1px solid black;
    }

    #kryesor {
        border: 1px solid blue;
        padding: 20px;
        margin: 100px;
    }

    .pagesat {
        border: 1px solid yellow;
        /* border-style: solid; */
        /* border-color: yellow; */
        /* border-width: 1px; */

        background-color: red;

    }

</style>
<h1>Po fillojme</h1>
<h2>Po fillojme</h2>
<h3>Po fillojme</h3>
<h4>Po fillojme</h4>
<h5>Po fillojme</h5>
<p>Kolegji AAB</p> <br/> 
<p>Kolegji AAB</p> 
Kolegji AAB
<p>Kolegji AAB</p>
<table class="table table-bordered">
    <tr>
        <th>Emri</th>
        <th>Mbiemri</th>
    </tr>
    <tr>
        <td>Munker</td>
        <td>Tac</td>
    </tr>
    <tr>
        <td>Kastriot</td>
        <td>Gjoka</td>
    </tr>
</table>

<div id="kryesor">
    
    Permbajtja kryesore

</div>

<div class="pagesat" >Div1</div>
<div class="pagesat">Div2</div>
<br/>

<input type="text"/>
<label for="kryesor">Emri</label>
<input type="number" value="100"/>
<hr/>
<hr/>
<form action="Nrysho">
    <p>
        <input type="text" placeholder="Emri" />
    </p>
    <p>
        <input type="text" placeholder="Mbiemri" />
    </p>
    <p>
        <button class="btn btn-success" type="submit" value="Dergo">Dergo</button>
    </p>
</form>
